/* purgecss start ignore*/

/* Temp hover on motl-samples*/

.motl-sample_image {
  transition-duration: 0.5s;
}

.motl-sample_text {
  width: 100%;
  opacity: 0;
  background: linear-gradient(45deg, #000000a3, transparent);
  transition: opacity .8s;
}

.motl-sample:hover .motl-sample_image {
  transform: scale(1.1);
}

.motl-sample:hover .motl-sample_text {
  opacity: 1;
}

.masonry-with-columns {
  -moz-columns: 300px 3;
       columns: 300px 3;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.masonry-with-columns > article {
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

p {
  margin-bottom: 0.625rem;
}

table {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

tr {
  border-bottom-width: 2px;
}

td {
  padding: .75rem .5rem;
}

td:first-child {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* Limit artwork image height to always stay in view */

#artwork-image {
  max-height: calc(100vh - 6rem);
  width: auto;
}

.logged-in #artwork-image {
  max-height: calc(100vh - 8rem);
}

@media screen and (min-width: 640px) { /* 640px where tailwind ends 'small' screen size*/

  .sm\:max-w-1\/2 {
    max-width: 50%;
  }
}

/* Move down stickies when logged in, and not on phone*/

@media screen and (min-width: 600px){ /* 600px when wordpress sticks loggin-screen to top*/

  .logged-in .sticky.top-0 {
    top: 2rem;
  }

  .logged-in .sticky.top-24 {
    top: 8rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* purgecss end ignore*/
