/* Temp hover on motl-samples*/
.motl-sample_image {
  transition-duration: 0.5s;
}
.motl-sample_text {
  width: 100%;
  opacity: 0;
  background: linear-gradient(45deg, #000000a3, transparent);
  transition: opacity .8s;
}
.motl-sample:hover {
  .motl-sample_image {
    transform: scale(1.1);
  }
  .motl-sample_text {
    opacity: 1;
  }
}


.masonry-with-columns {
  columns: 300px 3;
  column-gap: 1rem;
  > article {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
