@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-xl;
  }
  p {
    @apply mb-2.5;
  }

  table {
    @apply w-full;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  tr {
    border-bottom-width: 2px;
  }
  td {
    padding: .75rem .5rem;
  }
  td:first-child {
    @apply text-xs;
    font-weight: 600;
    text-transform: uppercase;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
}

/* Limit artwork image height to always stay in view */
#artwork-image {
  max-height: calc(100vh - 6rem);
  width: auto;
}
.logged-in #artwork-image {
  max-height: calc(100vh - 8rem);
}
@media screen and (min-width: 640px) { /* 640px where tailwind ends 'small' screen size*/
  .sm\:max-w-1\/2 {
    max-width: 50%;
  }
}

/* Move down stickies when logged in, and not on phone*/
@media screen and (min-width: 600px){ /* 600px when wordpress sticks loggin-screen to top*/
  .logged-in .sticky.top-0 {
    top: 2rem;
  }
  .logged-in .sticky.top-24 {
    top: 8rem;
  }
}

.masonry-with-columns {
  columns: 300px 3;
  column-gap: 1rem;
}
.masonry-with-columns > article {
  -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
