@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-xl;
  }
  body {
    font-family: 'Montserrat', sans-serif;
  }
  p {
    @apply mb-2.5;
  }

  table {
    @apply w-full;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  tr {
    border-bottom-width: 2px;
  }
  td {
    padding: .75rem .5rem;
  }
  td:first-child {
    @apply text-xs;
    font-weight: 600;
    text-transform: uppercase;
  }
}

html {
  scroll-behavior: smooth;
}

/* Move down stickies when logged in, and not on phone*/
@media screen and (min-width: 600px){
  .logged-in .sticky.top-0 {
    top: 2rem;
  }
  .logged-in .sticky.top-24 {
    top: 8rem;
  }
}
